:root {
  /* ----Colors---- */

  /* Neutral */
  --App-Background: hsl(243, 96%, 9%);
  --Neutral-800: hsl(243, 27%, 20%);
  --Neutral-700: hsl(243, 23%, 24%);
  --Neutral-600: hsl(243, 23%, 30%);
  --Neutral-300: hsl(240, 6%, 70%);
  --Neutral-200: hsl(250, 6%, 84%);
  --Neutral-0: hsl(0, 0%, 100%);

  /* Orange */
  --Orange-500: hsl(28, 100%, 52%);

  /* Blue */
  --Blue-500: hsl(233, 67%, 56%);
  --Blue-700: hsl(248, 70%, 36%);

  /* Font Size */
  --Default-Font-Size: 1.125rem;
}

@font-face {
  font-family: "Bricolage-Grotesque";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../assets/fonts/BricolageGrotesque-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../assets/fonts/DMSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../assets/fonts/DMSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../assets/fonts/DMSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url("../assets/fonts/DMSans-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../assets/fonts/DMSans-Bold.ttf") format("truetype");
}

body,
html {
  background-color: var(--App-Background);
}

body {
  min-height: 100svh;
}

p {
  font-size: 1.125rem;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;

  .header__logo {
    width: 9rem;
    height: auto;
  }

  .units__container {
    position: relative;
  }

  .units__button {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    background: var(--Neutral-800);
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;

    .units__text {
      color: var(--Neutral-200);
      font-family: "DMSans", sans-serif;
      font-weight: 300;
      font-size: 0.875rem;
    }
  }
}

.search__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;

  .search__title {
    color: var(--Neutral-200);
    font-family: "Bricolage-Grotesque", sans-serif;
    font-weight: 700;
    font-size: 3rem;

    padding: 1rem 1rem 3rem 1rem;
    text-align: center;

    @media (max-width: 20.688rem) {
      font-size: 2.85rem;
    }
  }

  .search__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
  }

  .search__input {
    width: 100%;
    background: var(--Neutral-800);
    border-radius: 0.5rem;
    padding: 1.175rem 1rem;

    color: var(--Neutral-300);
    font-family: "DMSans", sans-serif;
    font-weight: 300;
    font-size: 0.875rem;

    position: relative;
    anchor-name: --search-bar;

    &::placeholder {
      color: var(--Neutral-300);
      font-family: "DMSans", sans-serif;
      font-weight: 500;
      font-size: 1.125rem;
      padding: 0 0 0 2rem;
    }
  }

  .search__icon {
    position: absolute;
    position-anchor: --search-bar;
    top: anchor(center);
    left: anchor(left);
    transform: translateY(-50%);
    margin-left: 1rem;
  }

  .search__button {
    width: 100%;
    background: var(--Blue-500);
    border-radius: 0.5rem;
    padding: 1rem 1rem;

    color: var(--Neutral-200);
    font-family: "DMSans", sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
  }
}

.info__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;

  background-image: url("../assets/images/bg-today-small.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
  height: 50vh;

  .info__card {
    margin: 2.5rem auto;

    .info__card--top {
      margin: 0 0 1rem 0;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      .info__card--title {
        color: var(--Neutral-200);
        font-family: "DMSans", sans-serif;
        font-weight: 600;
        font-size: 2rem;
      }

      .info__card--date {
        color: var(--Neutral-200);
        font-family: "DMSans", sans-serif;
        font-weight: 300;
        font-size: 1.125rem;
      }
    }

    .info__card--bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      .info__card--temp {
        color: var(--Neutral-200);
        font-family: "DMSans", sans-serif;
        font-style: italic;
        font-weight: 600;
        font-size: 5rem;
      }
    }
  }
}

.forecast__details--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;

  .forecast__details--card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 1.5rem;
    padding: 1rem;
    background-color: var(--Neutral-800);
    border: 1px solid var(--Neutral-600);
    border-radius: 0.75rem;

    .forecast__details--title {
      color: var(--Neutral-300);
      font-family: "DMSans", sans-serif;
      font-weight: 600;
      font-size: 1.125rem;
    }

    .forecast__details--text {
      color: var(--Neutral-200);
      font-family: "DMSans", sans-serif;
      font-weight: 500;
      font-size: 1.5rem;
    }
  }
}

.daily__forecast--title02 {
  color: var(--Neutral-200);
  font-family: "DMSans", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 1rem 0 0 1rem;
}

.daily__forecast--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6.438rem, 1fr));
  gap: 1rem;
  padding: 1rem;

  .daily__forecast--card {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.5rem;
    padding: 1rem 0;
    background-color: var(--Neutral-800);
    border: 1px solid var(--Neutral-600);
    border-radius: 0.75rem;

    .daily__forecast--title {
      color: var(--Neutral-200);
      font-family: "DMSans", sans-serif;
      font-weight: 300;
      font-size: 1.125rem;
    }

    .daily__forecast--temp {
      color: var(--Neutral-200);
      font-family: "DMSans", sans-serif;
      font-weight: 300;
      font-size: 1rem;
    }

    .daily__forecast--feels {
      color: var(--Neutral-300);
      font-family: "DMSans", sans-serif;
      font-weight: 300;
      font-size: 1rem;
    }

    .daily__forecast--bottom {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }
}

.hourly__forecast--section {
  margin: 1rem;
  background-color: var(--Neutral-800);
  border-radius: 1rem;

  .hourly__forecast--top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 1rem 0;

    .hourly__forecast--title {
      color: var(--Neutral-200);
      font-family: "DMSans", sans-serif;
      font-weight: 600;
      font-size: 1.125rem;
    }

    .hourly__forecast--btn {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      background-color: var(--Neutral-600);
      color: var(--Neutral-200);
      font-family: "DMSans", sans-serif;
      font-weight: 300;
      font-size: 1rem;

      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
    }
  }
}

.hourly__forecast--flex {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;

  .hourly__forecast--card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--Neutral-700);
    border-radius: 0.5rem;
    border: 1px solid var(--Neutral-600);
    padding: 0 1rem 0 0;

    .hourly__forecast--time {
      display: flex;
      align-items: center;
      color: var(--Neutral-200);
      font-size: 1.125rem;
      font-family: "DMSans", sans-serif;
      font-weight: 300;
    }

    .hourly__forecast--temp {
      display: flex;
      align-items: center;
      color: var(--Neutral-200);
      font-size: 1rem;
      font-family: "DMSans", sans-serif;
      font-weight: 300;
    }

    img {
      width: 3rem;
      height: auto;
    }
  }
}

@media only screen and (min-width: 62rem) {
  .header__container {
    margin: 4vh 6vw 0;
  }

  .search__container {
    padding: 1rem 1rem 2rem;
    .search__title {
      margin: 0 8.5vw 0 0;
    }

    .search__form {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1rem;

      margin: 0 10.25vw 0 0;
    }

    .search__input {
      width: 30rem;
    }

    .search__button {
      width: 8rem;
    }
  }

  .main__content--grid {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 6vw 6vh;
    grid-template-areas:
      "info hourly"
      "forecast hourly"
      "daily hourly";
  }

  .forecast__details--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6.438rem, 1fr));
  }

  .daily__forecast--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));

    img {
      width: 3rem;
    }

    .daily__forecast--card {
      .daily__forecast--bottom {
        gap: 1rem;
      }
    }
  }

  .info__container {
    height: 40vh;

    .info__card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: auto 0;
      padding: 0 1rem;
      width: 100%;

      .info__card--top {
        align-items: flex-start;
        gap: 0.5rem;
        margin: 0;

        .info__card--title {
          font-size: 1.5rem;
        }

        .info__card--date {
          font-size: 1rem;
        }
      }
    }
  }

  .hourly__forecast--section {
    grid-area: hourly;
  }

  .hourly__forecast--flex {
    .hourly__forecast--card {
      padding: 0.25rem 1rem;
    }
  }

  .forecast__details--section {
    grid-area: forecast;
  }

  .daily__forecast--section {
    grid-area: daily;
  }

  .info__section {
    grid-area: info;
  }
}

.units__dropdown {
  display: none;
  position: absolute;
  top: 45px;
  right: 0;
  background: var(--Neutral-800); /* Dark theme */
  border-radius: 0.5rem;
  border: 1px solid var(--Neutral-600);
  padding: 1rem;
  width: 13.75rem;
  z-index: 1000;
  box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.5);
}

.units__dropdown.show {
  display: block;
}

.units__switch-btn {
  color: var(--Neutral-200);
  font-family: "DMSans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.units__label {
  color: var(--Neutral-300);
  font-family: "DMSans", sans-serif;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}

.units__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;
  cursor: pointer;
  border-radius: 6px;
  color: var(--Neutral-200);
}

.units__option:hover {
  background: var(--Neutral-700);
  color: var(--Neutral-0);
}

.units__option:has(input:checked) {
  background: var(--Neutral-700);
  color: var(--Neutral-0);
}

.units__option input {
  display: none;
}

.units__checkmark {
  opacity: 0;
  transition: opacity 0.2s;
}

.units__option input:checked ~ .units__checkmark {
  opacity: 1;
}

.units__option input:checked ~ span {
  color: var(--Neutral-0);
}
