:root {
  /* ----Colors---- */

  /* Neutral */
  --App-Background: hsl(243, 96%, 9%);
  --Neutral-800: hsl(243, 27%, 20%);
  --Neutral-700: hsl(243, 23%, 24%);
  --Neutral-600: hsl(243, 23%, 30%);
  --Neutral-300: hsl(240, 6%, 70%);
  --Neutral-200: hsl(250, 6%, 84%);
  --Neutral-0: hsl(0, 0%, 100%);

  /* Orange */
  --Orange-500: hsl(28, 100%, 52%);

  /* Blue */
  --Blue-500: hsl(233, 67%, 56%);
  --Blue-700: hsl(248, 70%, 36%);
}

@font-face {
  font-family: "Bricolage-Grotesque";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../assets/fonts/BricolageGrotesque-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../assets/fonts/DMSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../assets/fonts/DMSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../assets/fonts/DMSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url("../assets/fonts/DMSans-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../assets/fonts/DMSans-Bold.ttf") format("truetype");
}

body,
html {
  background-color: var(--App-Background);
}

body {
  min-height: 100svh;
}

p {
  font-size: 1.125rem;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;

  .header__logo {
    width: 9rem;
    height: auto;
  }

  .units__button {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    background: var(--Neutral-800);
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;

    .units__text {
      color: var(--Neutral-200);
      font-family: "DMSans", sans-serif;
      font-weight: 300;
      font-size: 0.875rem;
    }
  }
}

.search__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;

  .search__title {
    color: var(--Neutral-200);
    font-family: "Bricolage-Grotesque", sans-serif;
    font-weight: 700;
    font-size: 3rem;

    padding: 1rem 1rem 3rem 1rem;
    text-align: center;

    @media (max-width: 20.688rem) {
      font-size: 2.85rem;
    }
  }

  .search__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
  }

  .search__input {
    width: 100%;
    background: var(--Neutral-800);
    border-radius: 0.5rem;
    padding: 1.175rem 1rem;

    color: var(--Neutral-300);
    font-family: "DMSans", sans-serif;
    font-weight: 300;
    font-size: 0.875rem;

    position: relative;

    &::placeholder {
      color: var(--Neutral-300);
      font-family: "DMSans", sans-serif;
      font-weight: 500;
      font-size: 1.125rem;
      padding: 0 0 0 2rem;
    }
  }

  .search__icon {
    position: absolute;
    top: 55%;
    left: 2rem;

    @media (max-width: 20.688rem) {
      top: 53.5%;
    }
  }

  .search__button {
    width: 100%;
    background: var(--Blue-500);
    border-radius: 0.5rem;
    padding: 1rem 1rem;

    color: var(--Neutral-200);
    font-family: "DMSans", sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
  }
}

.info__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;

  background-image: url("../assets/images/bg-today-small.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
  height: 50vh;

  .info__card {
    margin: 2.5rem auto;

    .info__card--top {
      margin: 0 0 1rem 0;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      .info__card--title {
        color: var(--Neutral-200);
        font-family: "DMSans", sans-serif;
        font-weight: 600;
        font-size: 2rem;
      }

      .info__card--date {
        color: var(--Neutral-200);
        font-family: "DMSans", sans-serif;
        font-weight: 300;
        font-size: 1.125rem;
      }
    }

    .info__card--bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      .info__card--temp {
        color: var(--Neutral-200);
        font-family: "DMSans", sans-serif;
        font-style: italic;
        font-weight: 600;
        font-size: 6rem;
      }
    }
  }
}

.forecast__details--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;

  .forecast__details--card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 1.5rem;
    padding: 1rem;
    background-color: var(--Neutral-800);
    border: 1px solid var(--Neutral-600);
    border-radius: 0.75rem;

    .forecast__details--title {
      color: var(--Neutral-300);
      font-family: "DMSans", sans-serif;
      font-weight: 600;
      font-size: 1.125rem;
    }

    .forecast__details--text {
      color: var(--Neutral-200);
      font-family: "DMSans", sans-serif;
      font-weight: 500;
      font-size: 1.5rem;
    }
  }
}

.daily__forecast--title02 {
  color: var(--Neutral-200);
  font-family: "DMSans", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 1rem 0 0 1rem;
}

.daily__forecast--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6.438rem, 1fr));
  gap: 1rem;
  padding: 1rem;

  .daily__forecast--card {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.5rem;
    padding: 1rem 0;
    background-color: var(--Neutral-800);
    border: 1px solid var(--Neutral-600);
    border-radius: 0.75rem;

    .daily__forecast--title {
      color: var(--Neutral-200);
      font-family: "DMSans", sans-serif;
      font-weight: 600;
      font-size: 1.125rem;
    }

    .daily__forecast--temp {
      color: var(--Neutral-200);
      font-family: "DMSans", sans-serif;
      font-weight: 500;
      font-size: 1.125rem;
    }

    .daily__forecast--feels {
      color: var(--Neutral-300);
      font-family: "DMSans", sans-serif;
      font-weight: 500;
      font-size: 1.125rem;
    }

    .daily__forecast--bottom {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }
}
